## Importando o pandas e o numpy

In [1]:
import pandas as pd
import numpy as np

## Lendo o arquivo

In [16]:
df = pd.read_csv('campeonato-brasileiro-full.csv',sep=';')

#### Visualizando as primeiras linhas do dataframe

In [3]:
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2.0,0.0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0.0,2.0,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4.0,1.0,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0.0,0.0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1.0,1.0,RS,RJ,-

## Realizando a limpeza dos dados

#### Padronizando os horários

In [4]:
df['Horário'].value_counts()

16h00    1804
20h30     683
18h30     643
16:00     514
18h10     506
17h00     351
19h30     351
19:00     332
18h00     306
21h00     267
21:00     246
17:00     194
20:00     179
19:30     166
21h50     144
18:30     134
22h00     130
21h45     119
11:00     109
20:30     100
21:30      85
21:45      76
18:00      73
18h20      59
18:15      49
21h40      49
19:15      45
16h        39
15h00      37
11h00      34
19h00      29
21:50      27
22:00      22
16h20      21
14h30      17
15h45      17
18h        14
16:30      13
17h        13
19h10      12
16h10      12
22:30      10
21h30       7
15h30       6
16:20       5
17:30       4
20h00       4
20:15       3
22h         3
16:15       3
22:50       3
19:45       2
16h30       2
21:46       1
15:00       1
21h10       1
22h30       1
09h00       1
18:45       1
Name: Horário, dtype: int64

In [17]:
df['Horário'] = df['Horário'].str.replace('h',':')
df['H_len'] = df['Horário'].str.len()
df.loc[df['H_len'] == 3, 'Horário'] = df['Horário'] + '00'

In [8]:
df['Horário'].value_counts()

16:00    2357
20:30     783
18:30     777
17:00     558
19:30     517
21:00     513
18:10     506
18:00     393
19:00     361
21:45     195
20:00     183
21:50     171
22:00     155
11:00     143
21:30      92
18:20      59
18:15      49
21:40      49
19:15      45
15:00      38
16:20      26
14:30      17
15:45      17
16:30      15
16:10      12
19:10      12
22:30      11
15:30       6
17:30       4
22:50       3
20:15       3
16:15       3
19:45       2
21:10       1
21:46       1
09:00       1
18:45       1
Name: Horário, dtype: int64

#### Padronizando dia da semana

In [9]:
df['Dia'].value_counts()

Domingo          3859
Sábado           1925
Quarta-feira     1559
Quinta-feira      657
Segunda-feira     108
Quarta-Feira      107
Terça-feira        85
Quinta-Feira       54
Segunda-Feira      26
Sexta-feira        24
Sabado             22
Terça-Feira         5
Sexta-Feira         5
Name: Dia, dtype: int64

In [18]:
df[df['Dia'] == 'Sabado'] = 'Sábado'
df[df['Dia'] == 'Segunda-feira'] = 'Segunda-Feira'
df[df['Dia'] == 'Terça-feira'] = 'Terça-Feira'
df[df['Dia'] == 'Quarta-feira'] = 'Quarta-Feira'
df[df['Dia'] == 'Quinta-feira'] = 'Quinta-Feira'
df[df['Dia'] == 'Sexta-feira'] = 'Sexta-Feira'

In [11]:
df['Dia'].value_counts()

Domingo          3859
Sábado           1947
Quarta-Feira     1666
Quinta-Feira      711
Segunda-Feira     134
Terça-Feira        90
Sexta-Feira        29
Name: Dia, dtype: int64

#### Padronizando o nome dos times

In [12]:
df['Mandante'].value_counts()

Quarta-Feira    1559
Quinta-Feira     657
Santos           288
Athlético-PR     282
Fluminense       279
                ...
SPORT              2
PALMEIRAS          2
PONTE PRETA        1
BAHIA              1
FLAMENGO           1
Name: Mandante, Length: 83, dtype: int64

In [19]:
# removendo linhas com dias da semana
dias_semana = ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado']
for dia in dias_semana:
    df = df[df['Mandante'] != dia]
    df = df[df['Visitante'] != dia]
    df = df[df['Vencedor'] != dia]

In [20]:
# Removendo acentuação
df['Mandante'] = df['Mandante'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['Visitante'] = df['Visitante'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df['Vencedor'] = df['Vencedor'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [21]:
# colocando o texto em caixa alta
df['Mandante'] = df['Mandante'].str.upper()
df['Visitante'] = df['Visitante'].str.upper()
df['Vencedor'] = df['Vencedor'].str.upper()

In [22]:
df['Mandante'].value_counts()

SANTOS             296
FLUMINENSE         288
ATHLETICO-PR       286
INTERNACIONAL      282
FLAMENGO           281
CORINTHIANS        279
SAO PAULO          277
CRUZEIRO           269
ATLETICO-MG        267
GREMIO             267
PALMEIRAS          239
BOTAFOGO-RJ        235
VASCO              230
GOIAS              211
CORITIBA           201
VITORIA            168
SPORT              165
BAHIA              158
FIGUEIRENSE        152
PONTE PRETA        151
JUVENTUDE          108
PARANA             103
FORTALEZA           88
CHAPECOENSE         87
AVAI                86
ATLETICO-GO         83
GUARANI             78
CEARA               77
NAUTICO             71
SAO CAETANO         71
CRICIUMA            64
AMERICA-MG          60
PORTUGUESA          59
PAYSANDU            45
SANTA CRUZ          35
SEXTA-FEIRA         24
BRAGANTINO          24
AMERICA-RN          18
GAMA                18
IPATINGA            17
BRASILIENSE         15
SANTO ANDRE         14
BARUERI             14
JOINVILLE           13
GREMIO PRUDENTE     10
CSA                 10
BOTAFOGO-SP          9
CUIABA               6
Name: Mandante, dtype: int64

In [24]:
df['Arena'].value_counts().to_dict()

{'Maracanã': 457,
 'Mineirão': 341,
 'Morumbi': 286,
 'Beira Rio': 260,
 'Vila Belmiro': 257,
 'Serra Dourada': 236,
 'Pacaembu': 227,
 'Arena da Baixada': 213,
 'Couto Pereira': 210,
 'São Januário': 187,
 'Independência': 177,
 'Olímpico Monumental': 166,
 'Engenhão': 164,
 'Barradão': 158,
 'Ilha do Retiro': 150,
 'Orlando Scarpelli': 150,
 'Moisés Lucarelli': 149,
 'Castelão': 134,
 'Arena do Grêmio': 112,
 'Alfredo Jaconi': 109,
 'Fonte Nova': 104,
 'Arena Condá': 87,
 'Ressacada': 86,
 'Brinco de Ouro': 78,
 'Arena Corinthians': 76,
 'Anacleto Campanella': 70,
 'Raulino de Oliveira': 68,
 'Canindé': 63,
 'Heriberto Hulse': 63,
 'Parque Antártica': 61,
 'Allianz Parque': 56,
 'Aflitos': 55,
 'Pituaçu': 50,
 'Arena do Jacaré': 50,
 'Pinheirão': 47,
 'Mané Garrincha': 44,
 'Palestra Itália': 44,
 'Mangueirão': 44,
 'Kyocera Arena': 43,
 'Luso Brasileiro': 41,
 'Arruda': 37,
 'Durival de Brito': 35,
 'Presidente Vargas': 32,
 'Arena Barueri': 29,
 'Arena Pernambuco': 28,
 'Ipatingão': 28,
 'Sexta-Feira': 24,
 'Nabi Abi Chedid': 24,
 'Neo Química Arena': 24,
 'Nilton Santos (Engenhão)': 22,
 'Serrinha': 19,
 'Vila Capanema': 18,
 'Machadão': 18,
 'Arena Joinville': 16,
 'Prudentão': 16,
 'Centenário': 14,
 'Caio Martins': 14,
 'Antônio Accioly': 14,
 'Bruno José Daniel': 14,
 'Boca do Jacaré': 13,
 'Santa Cruz': 12,
 'Parque do Sabiá': 10,
 'Itaipava Arena Fonte Nova': 10,
 'Bezerrão': 10,
 'Rei Pelé': 10,
 'Arena Pantanal': 9,
 'Willie Davids': 8,
 'Fonte Luminosa': 7,
 'Joaquim Américo': 7,
 'Cláudio Moacyr': 6,
 'Beira-Rio': 6,
 'Edson Passos': 6,
 'Giulite Coutinho': 5,
 'Benedito Teixeira': 5,
 'Estádio do Vale': 5,
 'Kléber Andrade': 5,
 'Moacyrzão': 5,
 'Estádio do Café': 4,
 'Serejão': 4,
 'Mário Helênio': 4,
 'Teixeirão': 4,
 'Wilson de Barros': 4,
 'Arena da Amazônia': 4,
 'Colosso da Lagoa': 3,
 'Pq. Antarctica': 3,
 'Mj José Levi Sobrinho': 3,
 'Jóia da Princesa': 3,
 'Juiz de Fora': 2,
 'Eduardo José Farah': 2,
 'Juscelino Kubitscheck': 2,
 'Morenão': 2,
 'Bento Freitas': 2,
 'Luiz Lacerda': 2,
 'A Campanella': 2,
 'Melão': 2,
 'Novelli Júnior': 2,
 '1º de Maio': 1,
 'Romildo Ferreira': 1,
 'Arena das Dunas': 1,
 'Municipal Juiz de Fora': 1,
 'Jaime Cintra': 1,
 'Estrela Solitária': 1,
 'Godofredo Cruz': 1,
 'Pedro Pedrossian': 1,
 'Curuzu': 1,
 'Papa J.Paulo II': 1,
 'Engenheiro Araripe': 1,
 'Batistão': 1,
 'Plácido Castelo': 1}

### Padronizando o nome dos estádios

In [29]:
# removendo linhas com dias da semana
dias_semana = ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado']
for dia in dias_semana:
    df = df[df['Arena'] != dia]

In [30]:
df['Arena'].value_counts().to_dict()

{'Maracanã': 457,
 'Mineirão': 341,
 'Morumbi': 286,
 'Beira Rio': 260,
 'Vila Belmiro': 257,
 'Serra Dourada': 236,
 'Pacaembu': 227,
 'Arena da Baixada': 213,
 'Couto Pereira': 210,
 'São Januário': 187,
 'Independência': 177,
 'Olímpico Monumental': 166,
 'Engenhão': 164,
 'Barradão': 158,
 'Ilha do Retiro': 150,
 'Orlando Scarpelli': 150,
 'Moisés Lucarelli': 149,
 'Castelão': 134,
 'Arena do Grêmio': 112,
 'Alfredo Jaconi': 109,
 'Fonte Nova': 104,
 'Arena Condá': 87,
 'Ressacada': 86,
 'Brinco de Ouro': 78,
 'Arena Corinthians': 76,
 'Anacleto Campanella': 70,
 'Raulino de Oliveira': 68,
 'Canindé': 63,
 'Heriberto Hulse': 63,
 'Parque Antártica': 61,
 'Allianz Parque': 56,
 'Aflitos': 55,
 'Arena do Jacaré': 50,
 'Pituaçu': 50,
 'Pinheirão': 47,
 'Mané Garrincha': 44,
 'Palestra Itália': 44,
 'Mangueirão': 44,
 'Kyocera Arena': 43,
 'Luso Brasileiro': 41,
 'Arruda': 37,
 'Durival de Brito': 35,
 'Presidente Vargas': 32,
 'Arena Barueri': 29,
 'Arena Pernambuco': 28,
 'Ipatingão': 28,
 'Neo Química Arena': 24,
 'Nabi Abi Chedid': 24,
 'Nilton Santos (Engenhão)': 22,
 'Serrinha': 19,
 'Vila Capanema': 18,
 'Machadão': 18,
 'Arena Joinville': 16,
 'Prudentão': 16,
 'Bruno José Daniel': 14,
 'Antônio Accioly': 14,
 'Caio Martins': 14,
 'Centenário': 14,
 'Boca do Jacaré': 13,
 'Santa Cruz': 12,
 'Itaipava Arena Fonte Nova': 10,
 'Bezerrão': 10,
 'Rei Pelé': 10,
 'Parque do Sabiá': 10,
 'Arena Pantanal': 9,
 'Willie Davids': 8,
 'Joaquim Américo': 7,
 'Fonte Luminosa': 7,
 'Beira-Rio': 6,
 'Edson Passos': 6,
 'Cláudio Moacyr': 6,
 'Estádio do Vale': 5,
 'Giulite Coutinho': 5,
 'Benedito Teixeira': 5,
 'Moacyrzão': 5,
 'Kléber Andrade': 5,
 'Teixeirão': 4,
 'Wilson de Barros': 4,
 'Arena da Amazônia': 4,
 'Estádio do Café': 4,
 'Serejão': 4,
 'Mário Helênio': 4,
 'Mj José Levi Sobrinho': 3,
 'Pq. Antarctica': 3,
 'Colosso da Lagoa': 3,
 'Jóia da Princesa': 3,
 'Melão': 2,
 'A Campanella': 2,
 'Bento Freitas': 2,
 'Novelli Júnior': 2,
 'Morenão': 2,
 'Luiz Lacerda': 2,
 'Eduardo José Farah': 2,
 'Juscelino Kubitscheck': 2,
 'Juiz de Fora': 2,
 'Estrela Solitária': 1,
 'Curuzu': 1,
 'Pedro Pedrossian': 1,
 'Papa J.Paulo II': 1,
 'Batistão': 1,
 'Godofredo Cruz': 1,
 'Plácido Castelo': 1,
 'Arena das Dunas': 1,
 'Engenheiro Araripe': 1,
 '1º de Maio': 1,
 'Romildo Ferreira': 1,
 'Jaime Cintra': 1,
 'Municipal Juiz de Fora': 1}